/* body {
    background-color: #eaf2e3;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.contenedor-parrafos {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
*/

.parrafo {
    text-align: center;
    font-style: italic;
    font-weight: bold; 
} 


header {
  background-color: #bdab45;
  color: #fff;
  text-align: center;
  padding: 20px;
}
section {
  padding: 20px; /* espaciado para la sección de 20 pixeles */
}
footer {
  background-color: #94700c; /* Color de fondo del footer */
  color: #fff;
  padding: 20px 0;
}
.footer-content {
  max-width: 800px; /* Ancho máximo del contenido del footer */
  margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
  text-align: center;
}
.redes {
    display: flex;
    justify-content: center;
}
.redes a img {
    height: 35px;
    margin:2px;
}
.footer-content p {
    color: #fff;
}

/* Estilos para el nav y enlaces de ul y li */
nav {
  background-color: #94700c;
  padding: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
}
nav ul li a:hover {
  background-color: #b4ac7c;
}

/* Estilos para las imágenes */
img {
  display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
  margin: 0 auto; /* Centrar las imágenes horizontalmente */
  max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
  border: 3px solid #94700c; /* Contorno de 3px con un color marron (#94700c) alrededor de la img.*/
  border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}
